@model IEnumerable<YAPET.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photo1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Action("GetImage",new { id=item.PhotoNo})" width="100" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PhotoNo })
        </td>
    </tr>
}

</table>
